<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AIs.plist
   Ruins

   Created by Theodore Abshire on 7/6/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>sample ai</key>
	<dict>
		<key>weight per move point</key> <integer>1000</integer>
		<key>world trap weight</key> <integer>1000</integer>
		<key>player trap weight</key> <integer>4000</integer>
	</dict>
</dict>
</plist>
