<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppearanceGroups.plist
   Ruins

   Created by Theodore Abshire on 7/6/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>sample appearance group</key>
	<dict>
		<key>has gender</key> <true/>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>human</string>
				<key>has gender</key> <true/>
				<key>armor suffix</key> <string>human</string>
				<key>weapon height</key> <integer>0</integer>
				<key>variants</key> <integer>1</integer>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>color name for layer 0</string>
			</array>
		</array>
	</dict>
	
	<!-- real appearance groups -->
	<key>human</key>
	<dict>
		<key>has gender</key> <true/>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>human</string>
				<key>has gender</key> <true/>
				<key>armor suffix</key> <string>human</string>
			</dict>
			<dict>
				<key>sprite name</key> <string>human_hair</string>
				<key>has gender</key> <true/>
				<key>variants</key> <integer>1</integer>
				<key>weapon height</key> <integer>0</integer>
				<key>weapon height female</key> <integer>1</integer>
			</dict>
			<dict>
				<key>sprite name</key> <string>human_eye</string>
				<key>has gender</key> <true/>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>skin dark</string>
				<string>human hair black</string>
				<string>fairy hair yellow</string>
			</array>
			<array>
				<string>skin swarthy</string>
				<string>human hair brown</string>
				<string>fairy hair blue</string>
			</array>
			<array>
				<string>skin light</string>
				<string>human hair blonde</string>
				<string>fairy hair green</string>
			</array>
		</array>
	</dict>
	<key>fairy</key>
	<dict>
		<key>has gender</key> <true/>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>fairy_wing</string>
				<key>variants</key> <integer>2</integer>
			</dict>
			<dict>
				<key>sprite name</key> <string>fairy</string>
				<key>has gender</key> <true/>
				<key>armor suffix</key> <string>fairy</string>
			</dict>
			<dict>
				<key>sprite name</key> <string>fairy_hair</string>
				<key>has gender</key> <true/>
				<key>variants</key> <integer>1</integer>
				<key>weapon height</key> <integer>1</integer>
			</dict>
			<dict>
				<key>sprite name</key> <string>fairy_eye</string>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>fairy hair green</string>
				<string>skin dark</string>
				<string>fairy hair red</string>
				<string>fairy hair green</string>
			</array>
			<array>
				<string>fairy hair yellow</string>
				<string>skin swarthy</string>
				<string>fairy hair blue</string>
				<string>fairy hair yellow</string>
			</array>
			<array>
				<string>fairy hair red</string>
				<string>skin light</string>
				<string>fairy hair green</string>
				<string>fairy hair red</string>
			</array>
		</array>
	</dict>
	<key>elf</key>
	<dict>
		<key>has gender</key> <true/>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>elf</string>
				<key>has gender</key> <true/>
				<key>armor suffix</key> <string>elf</string>
			</dict>
			<dict>
				<key>sprite name</key> <string>elf_hair</string>
				<key>has gender</key> <true/>
				<key>variants</key> <integer>1</integer>
				<key>weapon height</key> <integer>-1</integer>
			</dict>
			<dict>
				<key>sprite name</key> <string>elf_eye</string>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>skin light</string>
				<string>fairy hair yellow</string>
				<string>fairy hair blue</string>
			</array>
			<array>
				<string>skin swarthy</string>
				<string>fairy hair red</string>
				<string>fairy hair green</string>
			</array>
		</array>
	</dict>
	<key>zombie</key>
	<dict>
		<key>has gender</key> <true/>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>human</string>
				<key>has gender</key> <true/>
				<key>armor suffix</key> <string>human</string>
			</dict>
			<dict>
				<key>sprite name</key> <string>zombie_hair</string>
				<key>has gender</key> <true/>
				<key>variants</key> <integer>1</integer>
				<key>weapon height</key> <integer>0</integer>
				<key>weapon height female</key> <integer>1</integer>
			</dict>
			<dict>
				<key>sprite name</key> <string>human_eye</string>
				<key>has gender</key> <true/>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>zombie skin green</string>
				<string>human hair brown</string>
				<string>black</string>
			</array>
			<array>
				<string>zombie skin pale</string>
				<string>human hair black</string>
				<string>black</string>
			</array>
		</array>
	</dict>
	<key>bogeyman</key>
	<dict>
		<key>has gender</key> <true/>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>bogeyman</string>
				<key>has gender</key> <true/>
				<key>armor suffix</key> <string>bogeyman</string>
				<key>weapon height</key> <integer>0</integer>
			</dict>
			<dict>
				<key>sprite name</key> <string>bogeyman_eye</string>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>bogeyman skin dark</string>
				<string>red</string>
			</array>
			<array>
				<string>bogeyman skin light</string>
				<string>blue</string>
			</array>
		</array>
	</dict>
	<key>skeleton</key>
	<dict>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>skeleton</string>
				<key>armor suffix</key> <string>human_m</string>
				<key>weapon height</key> <integer>0</integer>
			</dict>
			<dict>
				<key>sprite name</key> <string>human_eye_m</string>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>bone</string>
				<string>red</string>
			</array>
			<array>
				<string>bone</string>
				<string>green</string>
			</array>
			<array>
				<string>bone</string>
				<string>blue</string>
			</array>
		</array>
	</dict>
	
	<!-- monster appearance groups -->
	<key>rat</key>
	<dict>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>rat</string>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>human hair brown</string>
			</array>
			<array>
				<string>human hair black</string>
			</array>
		</array>
	</dict>
	<key>dog</key>
	<dict>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>dog</string>
			</dict>
			<dict>
				<key>sprite name</key> <string>dog_tongue</string>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>human hair brown</string>
				<string>fairy hair red</string>
			</array>
			<array>
				<string>human hair black</string>
				<string>fairy hair red</string>
			</array>
			<array>
				<string>wool</string>
				<string>fairy hair red</string>
			</array>
		</array>
	</dict>
	<key>bull</key>
	<dict>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>bull</string>
			</dict>
			<dict>
				<key>sprite name</key> <string>bull_horns</string>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>human hair brown</string>
				<string>bone</string>
			</array>
		</array>
	</dict>
	<key>bear</key>
	<dict>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>bear</string>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>human hair brown</string>
			</array>
			<array>
				<string>human hair black</string>
			</array>
		</array>
	</dict>
	<key>chupacabra</key>
	<dict>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>chupacabra</string>
			</dict>
			<dict>
				<key>sprite name</key> <string>chupacabra_eye</string>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>fairy hair green</string>
				<string>red</string>
			</array>
			<!-- <array>
				<string>fairy hair yellow</string>
				<string>blue</string>
			</array> -->
		</array>
	</dict>
	<key>hoop snake</key>
	<dict>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>hoopsnake</string>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>fairy hair green</string>
			</array>
		</array>
	</dict>
	<key>swamp monster</key>
	<dict>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>swampmonster</string>
			</dict>
			<dict>
				<key>sprite name</key> <string>swampmonster_moss</string>
			</dict>
			<dict>
				<key>sprite name</key> <string>swampmonster_eye</string>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>bogeyman skin dark</string>
				<string>zombie skin green</string>
				<string>fairy hair blue</string>
			</array>
		</array>
	</dict>
	<key>wendigo</key>
	<dict>
		<key>layers</key>
		<array>
			<dict>
				<key>sprite name</key> <string>wendigo</string>
			</dict>
		</array>
		<key>colorations</key>
		<array>
			<array>
				<string>bone</string>
			</array>
		</array>
	</dict>
</dict>
</plist>