<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Armors.plist
   Ruins

   Created by Theodore Abshire on 7/6/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>sample armor</key>
	<dict>
		<key>health</key> <integer>100</integer>
		<key>subtypes</key>
		<array>
			<dict>
				<!-- identity -->
				<key>name</key> <string>shirt</string>
				<key>flavor</key> <string>SAMPLE FLAVOR.</string>
				<key>level</key> <integer>1</integer>
				<!-- stats -->
				<key>weight</key> <integer>50</integer>
				<key>melee resistance</key> <integer>1</integer>
				<key>dodge</key> <integer>2</integer>
				<key>max health bonus</key> <integer>3</integer>
				<key>trap resistance</key> <integer>4</integer>
				<key>special resistance</key> <integer>5</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>outfit</string>
				<key>color</key> <string>OUTFIT COLOR</string>
			</dict>
		</array>
	</dict>
	
	<!-- real armors -->
	<key>heavy armor</key>
	<dict>
		<key>health</key> <integer>50</integer>
		<key>subtypes</key>
		<array>
			<dict>
				<!-- identity -->
				<key>name</key> <string>old breastplate</string>
				<key>flavor</key> <string>This is a second-hand breastplate. You're not sure if the red is rust of old blood.</string>
				<key>level</key> <integer>4</integer>
				<!-- stats -->
				<key>weight</key> <integer>50</integer>
				<key>melee resistance</key> <integer>5</integer>
				<key>dodge</key> <integer>-2</integer>
				<key>max health bonus</key> <integer>2</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>heavy_one</string>
				<key>color</key> <string>iron</string>
			</dict>
			<dict>
				<!-- identity -->
				<key>name</key> <string>breastplate</string>
				<key>flavor</key> <string>A shiny polished breastplate.</string>
				<key>level</key> <integer>14</integer>
				<!-- stats -->
				<key>weight</key> <integer>50</integer>
				<key>melee resistance</key> <integer>10</integer>
				<key>dodge</key> <integer>-2</integer>
				<key>max health bonus</key> <integer>2</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>heavy_one</string>
				<key>color</key> <string>steel</string>
			</dict>
			<dict>
				<!-- identity -->
				<key>name</key> <string>half plate</string>
				<key>flavor</key> <string>This breastplate has been given arm and leg plates. The joints are covered by leather.</string>
				<key>level</key> <integer>24</integer>
				<!-- stats -->
				<key>weight</key> <integer>70</integer>
				<key>melee resistance</key> <integer>15</integer>
				<key>dodge</key> <integer>-4</integer>
				<key>max health bonus</key> <integer>4</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>heavy_two</string>
				<key>color</key> <string>steel</string>
			</dict>
			<dict>
				<!-- identity -->
				<key>name</key> <string>full plate</string>
				<key>flavor</key> <string>This is a complete set of steel armor. It's surprising that you could put it on, you thought they had to be custom-fitted.</string>
				<key>level</key> <integer>34</integer>
				<!-- stats -->
				<key>weight</key> <integer>100</integer>
				<key>melee resistance</key> <integer>20</integer>
				<key>dodge</key> <integer>-5</integer>
				<key>max health bonus</key> <integer>5</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>heavy_three</string>
				<key>color</key> <string>steel</string>
			</dict>
		</array>
	</dict>
	
	<key>light armor</key>
	<dict>
		<key>health</key> <integer>40</integer>
		<key>subtypes</key>
		<array>
			<dict>
				<!-- identity -->
				<key>name</key> <string>leather armor</string>
				<key>flavor</key> <string>This is a simple jacket of cheap leather.</string>
				<key>level</key> <integer>0</integer>
				<!-- stats -->
				<key>weight</key> <integer>30</integer>
				<key>melee resistance</key> <integer>3</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>light_one</string>
				<key>color</key> <string>leather</string>
			</dict>
			<dict>
				<!-- identity -->
				<key>name</key> <string>reinforced leather</string>
				<key>flavor</key> <string>This leather armor is padded on the inside and has little metal bars stitched into it.</string>
				<key>level</key> <integer>10</integer>
				<!-- stats -->
				<key>weight</key> <integer>35</integer>
				<key>melee resistance</key> <integer>8</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>light_two</string>
				<key>color</key> <string>leather</string>
			</dict>
			<dict>
				<!-- identity -->
				<key>name</key> <string>chain shirt</string>
				<key>flavor</key> <string>This shirt of chainmail covers only your torso. Better than nothing.</string>
				<key>level</key> <integer>20</integer>
				<!-- stats -->
				<key>weight</key> <integer>40</integer>
				<key>melee resistance</key> <integer>11</integer>
				<key>max health bonus</key> <integer>2</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>light_one</string>
				<key>color</key> <string>steel</string>
			</dict>
			<dict>
				<!-- identity -->
				<key>name</key> <string>chainmail</string>
				<key>flavor</key> <string>This is a full set of chainmail. It's kind of heavy, but very flexible.</string> <!-- TODO: flavor -->
				<key>level</key> <integer>30</integer>
				<!-- stats -->
				<key>weight</key> <integer>45</integer>
				<key>melee resistance</key> <integer>15</integer>
				<key>max health bonus</key> <integer>3</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>light_two</string>
				<key>color</key> <string>steel</string>
			</dict>
		</array>
	</dict>
	
	<key>clothing</key>
	<dict>
		<key>health</key> <integer>25</integer>
		<key>subtypes</key>
		<array>
			<dict>
				<!-- identity -->
				<key>name</key> <string>peasant outfit</string>
				<key>flavor</key> <string>This outfit smells quite foul.</string>
				<key>level</key> <integer>0</integer>
				<!-- stats -->
				<key>weight</key> <integer>10</integer>
				<key>dodge</key> <integer>3</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>outfit</string>
				<key>color</key> <string>leather</string>
			</dict>
			<dict>
				<!-- identity -->
				<key>name</key> <string>work outfit</string>
				<key>flavor</key> <string>Well, at least this one is clean.</string>
				<key>level</key> <integer>10</integer>
				<!-- stats -->
				<key>weight</key> <integer>10</integer>
				<key>dodge</key> <integer>8</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>outfit</string>
				<key>color</key> <string>cloth</string>
			</dict>
			<dict>
				<!-- identity -->
				<key>name</key> <string>comfortable outfit</string>
				<key>flavor</key> <string>Made of 100% wool. Very soft.</string>
				<key>level</key> <integer>20</integer>
				<!-- stats -->
				<key>weight</key> <integer>10</integer>
				<key>dodge</key> <integer>11</integer>
				<key>max health bonus</key> <integer>2</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>outfit</string>
				<key>color</key> <string>wool</string>
			</dict>
			<dict>
				<!-- identity -->
				<key>name</key> <string>fine outfit</string>
				<key>flavor</key> <string>Is that silk? Fancy.</string>
				<key>level</key> <integer>30</integer>
				<!-- stats -->
				<key>weight</key> <integer>10</integer>
				<key>dodge</key> <integer>14</integer>
				<key>max health bonus</key> <integer>4</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>outfit</string>
				<key>color</key> <string>white</string>
			</dict>
		</array>
	</dict>
	
	<key>uniform</key>
	<dict>
		<key>health</key> <integer>30</integer>
		<key>subtypes</key>
		<array>
			<dict>
				<!-- identity -->
				<key>level</key> <integer>0</integer>
				<!-- stats -->
				<key>weight</key> <integer>20</integer>
				<key>dodge</key> <integer>1</integer>
				<key>max health bonus</key> <integer>2</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>uniform</string>
				<key>color</key> <string>navy</string>
			</dict>
			<dict>
				<!-- identity -->
				<key>level</key> <integer>10</integer>
				<!-- stats -->
				<key>weight</key> <integer>20</integer>
				<key>dodge</key> <integer>3</integer>
				<key>max health bonus</key> <integer>5</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>uniform</string>
				<key>color</key> <string>navy</string>
			</dict>
			<dict>
				<!-- identity -->
				<key>level</key> <integer>20</integer>
				<!-- stats -->
				<key>weight</key> <integer>20</integer>
				<key>dodge</key> <integer>5</integer>
				<key>max health bonus</key> <integer>8</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>uniform</string>
				<key>color</key> <string>navy</string>
			</dict>
			<dict>
				<!-- identity -->
				<key>level</key> <integer>30</integer>
				<!-- stats -->
				<key>weight</key> <integer>20</integer>
				<key>dodge</key> <integer>7</integer>
				<key>max health bonus</key> <integer>11</integer>
				<!-- appearance -->
				<key>sprite name</key> <string>uniform</string>
				<key>color</key> <string>navy</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>