<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   EnemyTypes.plist
   Ruins

   Created by Theodore Abshire on 7/6/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>sample enemy type</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>10</integer>
		<key>dexterity</key> <integer>10</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>10</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>heavy armor</string>
		<!-- MARK: special powers -->
		<key>ignore terrain cost</key> <true/>
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>zombie</string>
		<key>AI</key> <string>sample AI</string>
		<!-- MARK: generation data -->
		<key>level</key> <integer>99999</integer>
		<key>keywords</key>
		<array>
			<string>poison</string>
			<string>stun</string>
			<string>shake</string>
			<string>criminal</string>
			<string>wildlife</string>
			<string>military</string>
			<string>tomb dweller</string>
			<string>magical</string>
		</array>
	</dict>
	
	<key>test creature</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>10</integer>
		<key>dexterity</key> <integer>10</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>10</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>test subtype weapon</string>
		<key>weapon material</key> <string>neutral</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>mortal</string>
		<key>appearance group</key> <string>human</string>
		<!-- MARK: generation data -->
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	
	<key>test pzombie</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>10</integer>
		<key>dexterity</key> <integer>10</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>10</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>test melee weapon</string>
		<key>weapon material</key> <string>neutral</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>zombie</string>
		<key>AI</key> <string>sample AI</string>
		<!-- MARK: generation data -->
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	
	<!-- starting player options -->
	
	<key>human player</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>10</integer>
		<key>dexterity</key> <integer>10</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>10</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>clothing</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>mortal</string>
		<key>appearance group</key> <string>human</string>
		<!-- MARK: generation data -->
		<key>good</key> <true/>
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	<key>fairy player</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>8</integer>
		<key>dexterity</key> <integer>11</integer>
		<key>cunning</key> <integer>12</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>9</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>clothing</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>fairy</string>
		<key>appearance group</key> <string>fairy</string>
		<!-- MARK: generation data -->
		<key>good</key> <true/>
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	<key>elf player</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>10</integer>
		<key>dexterity</key> <integer>11</integer>
		<key>cunning</key> <integer>8</integer>
		<key>wisdom</key> <integer>12</integer>
		<key>endurance</key> <integer>9</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>clothing</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>fairy</string>
		<key>appearance group</key> <string>elf</string>
		<!-- MARK: generation data -->
		<key>good</key> <true/>
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	<key>bogeyman player</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>12</integer>
		<key>dexterity</key> <integer>8</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>10</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>clothing</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>monster</string>
		<key>appearance group</key> <string>bogeyman</string>
		<!-- MARK: generation data -->
		<key>good</key> <true/>
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	<key>skeleton player</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>11</integer>
		<key>dexterity</key> <integer>12</integer>
		<key>cunning</key> <integer>9</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>8</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>clothing</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>skeleton</string>
		<!-- MARK: generation data -->
		<key>good</key> <true/>
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	<key>zombie player</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>11</integer>
		<key>dexterity</key> <integer>10</integer>
		<key>cunning</key> <integer>9</integer>
		<key>wisdom</key> <integer>8</integer>
		<key>endurance</key> <integer>12</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>clothing</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>zombie</string>
		<!-- MARK: generation data -->
		<key>good</key> <true/>
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	
	<!-- real enemies -->
	
	<!-- design notes:
		a "low-level" enemy is level 5-ish
		a "medium-level" enemy is level 20-ish
		a "high-level" enemy is level 35-ish
		-->
	
	
	<!-- humans -->
	<!-- TODO: humans should have average AIs -->
	<key>bandit</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>12</integer>
		<key>dexterity</key> <integer>12</integer>
		<key>cunning</key> <integer>11</integer>
		<key>wisdom</key> <integer>9</integer>
		<key>endurance</key> <integer>11</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>axe</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>light armor</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>mortal</string>
		<key>appearance group</key> <string>human</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>5</integer>
		<key>keywords</key>
		<array>
			<string>criminal</string>
		</array>
	</dict>
	<key>outlaw</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>12</integer>
		<key>dexterity</key> <integer>17</integer>
		<key>cunning</key> <integer>12</integer>
		<key>wisdom</key> <integer>12</integer>
		<key>endurance</key> <integer>17</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>pistol</string>
		<key>weapon material</key> <string>rosewood</string>
		<key>armor</key> <string>clothing</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>mortal</string>
		<key>appearance group</key> <string>human</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>20</integer>
		<key>keywords</key>
		<array>
			<string>criminal</string>
			<string>shake</string>
		</array>
	</dict>
	<key>royal soldier</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>12</integer>
		<key>dexterity</key> <integer>22</integer>
		<key>cunning</key> <integer>16</integer>
		<key>wisdom</key> <integer>13</integer>
		<key>endurance</key> <integer>22</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>rifle</string>
		<key>weapon material</key> <string>oak</string>
		<key>armor</key> <string>light armor</string> <!-- TODO: soldier uniform -->
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>mortal</string>
		<key>appearance group</key> <string>human</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>35</integer>
		<key>keywords</key>
		<array>
			<string>military</string>
		</array>
	</dict>
	
	<!-- animals -->
	<!-- IN GENERAL: most of them use bash attacks; tend to have high END
			rat (low-low-level, shakiness-inflicting bash, weak but plentiful)
			mutt (low-medium level, bash)
			bear (medium-high-level, stun-inflicting bash) -->
	<!-- TODO: animals should probably mostly have trap-ignoring, cowardly AIs -->
	
	<!-- bogeymen -->
	<!-- TODO: bogeymen should probably mostly have fearless AIs -->
	<key>bag man</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>13</integer>
		<key>dexterity</key> <integer>9</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>12</integer>
		<key>endurance</key> <integer>13</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>bash</string>
		<key>weapon material</key> <string>stun material</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>monster</string>
		<key>appearance group</key> <string>bogeyman</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>7</integer>
		<key>keywords</key>
		<array>
			<string>stun</string>
		</array>
	</dict>
	<key>boggart</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>18</integer>
		<key>dexterity</key> <integer>12</integer>
		<key>cunning</key> <integer>12</integer>
		<key>wisdom</key> <integer>13</integer>
		<key>endurance</key> <integer>17</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>bash</string>
		<key>weapon material</key> <string>shake material</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>monster</string>
		<key>appearance group</key> <string>bogeyman</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>22</integer>
		<key>keywords</key>
		<array>
			<string>shake</string>
		</array>
	</dict>
	<key>hammerman</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>23</integer>
		<key>dexterity</key> <integer>11</integer>
		<key>cunning</key> <integer>11</integer>
		<key>wisdom</key> <integer>20</integer>
		<key>endurance</key> <integer>22</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>hammer</string>
		<key>weapon material</key> <string>mercury</string>
		<key>armor</key> <string>heavy armor</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>monster</string>
		<key>appearance group</key> <string>bogeyman</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>37</integer>
		<key>keywords</key>
		<array>
			<string>military</string>
			<string>criminal</string>
			<string>poison</string>
		</array>
	</dict>
	
	<!-- cryptids -->
	<!-- IN GENERAL: most of them use bash attacks; tend to have high STR
			chupacabra (low-level, bash that heals a little bit of health for the chupa)
			hoop snake (medium-level, poison-inflicting bash, lots of move points)
			swamp monster (high-level, poison-inflicting bash) -->
	<!-- TODO: cryptids should probably mostly have trap-ignoring AIs -->
	
	<!-- fairies -->
	<!-- TODO: fairies should probably mostly have trap-avoiding AIs -->
	<key>brownie</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>12</integer>
		<key>dexterity</key> <integer>11</integer>
		<key>cunning</key> <integer>11</integer>
		<key>wisdom</key> <integer>9</integer>
		<key>endurance</key> <integer>9</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>bash</string>
		<key>weapon material</key> <string>shake material</string>
		<key>armor</key> <string>outfit</string> <!-- TODO: brownies wear especially dire clothing; look up pictures -->
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>fairy</string>
		<key>appearance group</key> <string>fairy</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>2</integer>
		<key>keywords</key>
		<array>
			<string>shake</string>
			<string>wildlife</string>
		</array>
	</dict>
	<key>pixie</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>9</integer>
		<key>dexterity</key> <integer>17</integer>
		<key>cunning</key> <integer>15</integer>
		<key>wisdom</key> <integer>16</integer>
		<key>endurance</key> <integer>11</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>wand</string>
		<key>weapon material</key> <string>mercury</string>
		<!-- MARK: special powers -->
		<key>ignore terrain cost</key> <true/> <!-- TODO: remember to make "ignore terrain cost" enemies float -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>fairy</string>
		<key>appearance group</key> <string>fairy</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>18</integer>
		<key>keywords</key>
		<array>
			<string>poison</string>
			<string>magical</string>
		</array>
	</dict>
	<key>fairy musketeer</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>11</integer>
		<key>dexterity</key> <integer>24</integer>
		<key>cunning</key> <integer>15</integer>
		<key>wisdom</key> <integer>15</integer>
		<key>endurance</key> <integer>19</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>rifle</string>
		<key>weapon material</key> <string>elm</string>
		<key>armor</key> <string>light armor</string>
		<!-- MARK: special powers -->
		<key>ignore terrain cost</key> <true/>
		<!-- MARK: identity -->
		<key>racial group</key> <string>fairy</string>
		<key>appearance group</key> <string>fairy</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>34</integer>
		<key>keywords</key>
		<array>
			<string>military</string>
		</array>
	</dict>
	
	<!-- elves -->
	<!-- TODO: elves should probably mostly have cowardly AIs -->
	<key>scout</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>12</integer>
		<key>dexterity</key> <integer>12</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>9</integer>
		<key>endurance</key> <integer>13</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>outfit</string>
		<!-- MARK: special powers -->
		<!-- TODO: special attack -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>fairy</string>
		<key>appearance group</key> <string>elf</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>6</integer>
		<key>keywords</key>
		<array>
			<string>military</string>
			<string>magical</string>
		</array>
	</dict>
	<key>mage</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>12</integer>
		<key>dexterity</key> <integer>18</integer>
		<key>cunning</key> <integer>12</integer>
		<key>wisdom</key> <integer>14</integer>
		<key>endurance</key> <integer>16</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>wand</string>
		<key>weapon material</key> <string>birch</string>
		<key>armor</key> <string>outfit</string> <!-- TODO: magic robes I guess -->
		<!-- MARK: special powers -->
		<!-- TODO: special attack -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>fairy</string>
		<key>appearance group</key> <string>elf</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>22</integer>
		<key>keywords</key>
		<array>
			<string>military</string>
			<string>magical</string>
		</array>
	</dict>
	<key>elflord</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>22</integer>
		<key>dexterity</key> <integer>14</integer>
		<key>cunning</key> <integer>12</integer>
		<key>wisdom</key> <integer>17</integer>
		<key>endurance</key> <integer>22</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>silver</string>
		<key>armor</key> <string>heavy armor</string>
		<!-- MARK: special powers -->
		<!-- TODO: special attack -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>fairy</string>
		<key>appearance group</key> <string>elf</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>37</integer>
		<key>keywords</key>
		<array>
			<string>military</string>
			<string>magical</string>
		</array>
	</dict>
	
	<!-- skeletons -->
	<!-- TODO: skeletons should probably mostly have trap-ignoring AIs -->
	<key>crumbling bones</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>12</integer>
		<key>dexterity</key> <integer>11</integer>
		<key>cunning</key> <integer>9</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>11</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>iron</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>skeleton</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>3</integer>
		<key>keywords</key>
		<array>
			<string>tomb dweller</string>
		</array>
	</dict>
	<key>skeleton soldier</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>12</integer>
		<key>dexterity</key> <integer>17</integer>
		<key>cunning</key> <integer>12</integer>
		<key>wisdom</key> <integer>12</integer>
		<key>endurance</key> <integer>17</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>rifle</string>
		<key>weapon material</key> <string>rosewood</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>skeleton</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>20</integer>
		<key>keywords</key>
		<array>
			<string>tomb dweller</string>
			<string>military</string>
		</array>
	</dict>
	<key>draug</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>24</integer>
		<key>dexterity</key> <integer>14</integer>
		<key>cunning</key> <integer>8</integer>
		<key>wisdom</key> <integer>14</integer>
		<key>endurance</key> <integer>24</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>axe</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>heavy armor</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>skeleton</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>34</integer>
		<key>keywords</key>
		<array>
			<string>tomb dweller</string>
		</array>
	</dict>
	
	<!-- zombies -->
	<!-- TODO: zombies should probably mostly have random but fearless AIs -->
	<key>shambler</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>11</integer>
		<key>dexterity</key> <integer>8</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>12</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>bash</string>
		<key>weapon material</key> <string>neutral</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>zombie</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
			<string>tomb dweller</string>
		</array>
	</dict>
	<key>ghoul</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>15</integer>
		<key>dexterity</key> <integer>13</integer>
		<key>cunning</key> <integer>11</integer>
		<key>wisdom</key> <integer>12</integer>
		<key>endurance</key> <integer>16</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>bash</string>
		<key>weapon material</key> <string>poison material</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>zombie</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>17</integer>
		<key>keywords</key>
		<array>
			<string>tomb dweller</string>
			<string>poison</string>
		</array>
	</dict>
	<key>mummy</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>11</integer>
		<key>dexterity</key> <integer>20</integer>
		<key>cunning</key> <integer>12</integer>
		<key>wisdom</key> <integer>18</integer>
		<key>endurance</key> <integer>18</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>wand</string>
		<key>weapon material</key> <string>elm</string>
		<key>armor</key> <string>outfit</string> <!-- TODO: mummy wraps obviously -->
		<!-- MARK: special powers -->
		<!-- TODO: special attack -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>zombie</string>
		<key>AI</key> <string>sample AI</string> <!-- TODO: real AI -->
		<!-- MARK: generation data -->
		<key>level</key> <integer>29</integer>
		<key>keywords</key>
		<array>
			<string>tomb dweller</string>
			<string>magical</string>
		</array>
	</dict>
</dict>
</plist>