<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   EnemyTypes.plist
   Ruins

   Created by Theodore Abshire on 7/6/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>sample enemy type</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>10</integer>
		<key>dexterity</key> <integer>10</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>10</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>heavy armor</string>
		<!-- MARK: special powers -->
		<key>ignore terrain cost</key> <true/>
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>zombie</string>
		<!-- MARK: generation data -->
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
			<string>poison</string>
			<string>stun</string>
			<string>shake</string>
		</array>
	</dict>
	
	<key>test creature</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>10</integer>
		<key>dexterity</key> <integer>10</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>10</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>test subtype weapon</string>
		<key>weapon material</key> <string>neutral</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>mortal</string>
		<key>appearance group</key> <string>human</string>
		<!-- MARK: generation data -->
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
</dict>
</plist>