<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   EnemyTypes.plist
   Ruins

   Created by Theodore Abshire on 7/6/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>sample enemy type</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>10</integer>
		<key>dexterity</key> <integer>10</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>10</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>heavy armor</string>
		<!-- MARK: special powers -->
		<key>ignore terrain cost</key> <true/>
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>zombie</string>
		<key>AI</key> <string>sample AI</string>
		<!-- MARK: generation data -->
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
			<string>poison</string>
			<string>stun</string>
			<string>shake</string>
			<string>criminal</string>
			<string>wildlife</string>
			<string>military</string>
			<string>tomb dweller</string>
		</array>
	</dict>
	
	<key>test creature</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>10</integer>
		<key>dexterity</key> <integer>10</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>10</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>test subtype weapon</string>
		<key>weapon material</key> <string>neutral</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>mortal</string>
		<key>appearance group</key> <string>human</string>
		<!-- MARK: generation data -->
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	
	<key>test pzombie</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>10</integer>
		<key>dexterity</key> <integer>10</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>10</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>test subtype weapon</string>
		<key>weapon material</key> <string>neutral</string>
		<!-- MARK: special powers -->
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>zombie</string>
		<key>AI</key> <string>sample AI</string>
		<!-- MARK: generation data -->
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	
	<!-- starting player options -->
	
	<key>human player</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>10</integer>
		<key>dexterity</key> <integer>10</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>10</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>clothing</string>
		<!-- MARK: special powers -->
		<key>ignore terrain cost</key> <true/>
		<!-- MARK: identity -->
		<key>racial group</key> <string>mortal</string>
		<key>appearance group</key> <string>human</string>
		<!-- MARK: generation data -->
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	<key>fairy player</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>8</integer>
		<key>dexterity</key> <integer>11</integer>
		<key>cunning</key> <integer>12</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>9</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>clothing</string>
		<!-- MARK: special powers -->
		<key>ignore terrain cost</key> <true/>
		<!-- MARK: identity -->
		<key>racial group</key> <string>fairy</string>
		<key>appearance group</key> <string>fairy</string>
		<!-- MARK: generation data -->
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	<key>elf player</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>10</integer>
		<key>dexterity</key> <integer>11</integer>
		<key>cunning</key> <integer>8</integer>
		<key>wisdom</key> <integer>12</integer>
		<key>endurance</key> <integer>9</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>clothing</string>
		<!-- MARK: special powers -->
		<key>ignore terrain cost</key> <true/>
		<!-- MARK: identity -->
		<key>racial group</key> <string>fairy</string>
		<key>appearance group</key> <string>elf</string>
		<!-- MARK: generation data -->
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	<key>bogeyman player</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>12</integer>
		<key>dexterity</key> <integer>8</integer>
		<key>cunning</key> <integer>10</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>10</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>clothing</string>
		<!-- MARK: special powers -->
		<key>ignore terrain cost</key> <true/>
		<!-- MARK: identity -->
		<key>racial group</key> <string>monster</string>
		<key>appearance group</key> <string>bogeyman</string>
		<!-- MARK: generation data -->
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	<key>skeleton player</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>11</integer>
		<key>dexterity</key> <integer>12</integer>
		<key>cunning</key> <integer>9</integer>
		<key>wisdom</key> <integer>10</integer>
		<key>endurance</key> <integer>8</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<!-- <key>armor</key> <string>clothing</string> -->
		<!-- MARK: special powers -->
		<key>ignore terrain cost</key> <true/>
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>skeleton</string>
		<!-- MARK: generation data -->
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	<key>zombie player</key>
	<dict>
		<!-- MARK: stats -->
		<key>strength</key> <integer>11</integer>
		<key>dexterity</key> <integer>10</integer>
		<key>cunning</key> <integer>9</integer>
		<key>wisdom</key> <integer>8</integer>
		<key>endurance</key> <integer>12</integer>
		<!-- MARK: equipment -->
		<key>weapon</key> <string>sword</string>
		<key>weapon material</key> <string>steel</string>
		<key>armor</key> <string>clothing</string>
		<!-- MARK: special powers -->
		<key>ignore terrain cost</key> <true/>
		<!-- MARK: identity -->
		<key>racial group</key> <string>undead</string>
		<key>appearance group</key> <string>zombie</string>
		<!-- MARK: generation data -->
		<key>level</key> <integer>1</integer>
		<key>keywords</key>
		<array>
		</array>
	</dict>
	
	<!-- real enemies -->
	
	
	<!-- humans -->
	<!-- IN GENERAL: lots of axe, sword, pistol, or rifle-using enemies; balanced stats
			bandit (low-level, axe, medium armor)
			outlaw (medium-level, pistol)
			royal soldier (high-level, rifle, medium armor) -->
	
	<!-- animals -->
	<!-- IN GENERAL: most of them use bash attacks; tend to have high END
			rat (low-low-level, shakiness-inflicting bash, weak but plentiful)
			mutt (low-medium level, bash)
			bear (medium-high-level, stun-inflicting bash) -->
	
	<!-- bogeymen -->
	<!-- IN GENERAL: most of them have bash, but some use weapons instead; tend to have high STR
			bag man (low-level, stun-inflicting bash)
			boggart (medium-level, shakiness-inflicting bash)
			executioner (high-level, hammer, heavy armor) -->
	
	<!-- cryptids -->
	<!-- IN GENERAL: most of them use bash attacks; tend to have high STR
			chupacabra (low-level, bash that heals a little bit of health for the chupa)
			hoop snake (medium-level, poison-inflicting bash, lots of move points)
			swamp monster (high-level, poison-inflicting bash) -->
	
	<!-- fairies -->
	<!-- IN GENERAL: lots of wand or bash-using enemies; tend to have high CUN
			brownie (low-level, shakiness-inflicting bash, dumb-looking clothes)
			pixie (medium-level, poison-inflicting wand, ignore terrain cost due to flying)
			fairy musketeer (high-level, rifle, medium armor) -->
	
	<!-- elves -->
	<!-- IN GENERAL: lots of pistol or sword-using enemies; tend to have high WIS
			scout (low-medium level, sword, special attack but lowish WIS for an elf)
			mage (medium-high level, birch wand, special attack)
			elflord (very high level, silver sword, special attack, heavy armor) -->
	
	<!-- skeletons -->
	<!-- IN GENERAL: lots of rifle or axe-using enemies; tend to have high DEX
			crumbling bones (low-level, iron sword)
			skeleton soldier (medium-level, shakiness-inflicting rifle)
			draug (high-level, axe, medium armor) -->
	
	<!-- zombies -->
	<!-- IN GENERAL: most of them use bash attacks; tend to have high END
			shambler (low-level, plentiful)
			ghoul (medium-level, poison bash)
			mummy (high-level, elm wand, special attack) -->
</dict>
</plist>