<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   RacialGroups.plist
   Ruins

   Created by Theodore Abshire on 7/6/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>mortal</key>
	<dict>
	</dict>
	<key>monster</key>
	<dict>
		<key>stun immunity</key> <true/>
	</dict>
	<key>fairy</key>
	<dict>
		<key>shake immunity</key> <true/>
	</dict>
	<key>undead</key>
	<dict>
		<key>poison immunity</key> <true/>
	</dict>
</dict>
</plist>