<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Tilesets.plist
   Ruins

   Created by Theodore Abshire on 7/15/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>sample tileset</key>
	<dict>
		<key>wall tile</key> <string>sample wall</string>
		<key>floor tile</key> <string>sample floor</string>
	</dict>
</dict>
</plist>
