<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Usables.plist
   Ruins

   Created by Theodore Abshire on 7/11/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>sample usable</key>
	<dict>
		<key>flavor</key> <string>SAMPLE FLAVOR.</string>
		<key>weight</key> <integer>100</integer>
		<key>heals</key> <integer>100</integer>
		<key>cures</key> <true/>
		<!-- <key>trap</key> <string>bear trap</string> -->
		<key>magic</key>
		<dict>
			<!-- TODO: magic data -->
		</dict>
	</dict>
	
	<key>sample trap</key>
	<dict>
		<key>flavor</key> <string>SAMPLE FLAVOR.</string>
		<key>weight</key> <integer>100</integer>
		<key>trap</key> <string>sample trap</string>
		<key>magic</key>
		<dict>
			<!-- TODO: magic data -->
		</dict>
	</dict>
	
	<key>test usable</key>
	<dict>
		<key>flavor</key> <string>SAMPLE FLAVOR.</string>
		<key>weight</key> <integer>100</integer>
		<key>heals</key> <integer>100</integer>
		<key>cures</key> <true/>
	</dict>
	
	<!-- real usables -->
	<key>bandages</key>
	<dict>
		<key>flavor</key> <string>A roll of clean bandages.</string>
		<key>weight</key> <integer>20</integer>
		<key>heals</key> <integer>100</integer>
	</dict>
	
	<key>injector</key>
	<dict>
		<key>flavor</key> <string>A needle full of some healing chemical.</string>
		<key>weight</key> <integer>10</integer>
		<key>heals</key> <integer>150</integer>
	</dict>
	
	<key>healing potion</key>
	<dict>
		<key>flavor</key> <string>A powerful magical potion of healing.</string>
		<key>weight</key> <integer>30</integer>
		<key>heals</key> <integer>200</integer>
	</dict>
	
	<key>medkit</key>
	<dict>
		<key>flavor</key> <string>A fully-stocked kit of medical supplies.</string>
		<key>weight</key> <integer>60</integer>
		<key>heals</key> <integer>250</integer>
		<key>cures</key> <true/>
	</dict>
	
	<key>adrenaline</key>
	<dict>
		<key>flavor</key> <string>A needle full of revitalizing chemicals.</string>
		<key>weight</key> <integer>10</integer>
		<key>cures</key> <true/>
	</dict>
	
	<key>bear trap</key>
	<dict>
		<key>flavor</key> <string>A simple but effective hunter's tool.</string>
		<key>weight</key> <integer>50</integer>
		<key>trap</key> <string>bear trap</string>
	</dict>
</dict>
</plist>